<link rel="stylesheet" type="text/css" href="/app/pages/my_health/my_health.css"/>
<div class="my-health container">

    <h3>Loading Spinner</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="/assets/images/my_health/spinner-background.png"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p>
                I would suggest putting a fixed partially transparent div behind your your loading spinner. This
                will block any further page interaction including scrolling. This also makes the fact that you are
                loading more noticable to the user. On some of the pages I had no idea it was loading something
                because the loading spinner had scrolled to the top.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
            Something more like this
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
            <div class="spinner-sample">
                <div class="spinner-pane">
                    <div class="spinner">
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                    </div>
                </div>
                <div class="login-content">
                    <img src="/assets/images/my_health/login.PNG"/>
                    <img src="/assets/images/my_health/login.PNG"/>
                </div>
            </div>
        </div>
    </div>

    <hr><hr>

    <h3>Dashboard Buttons</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <img src="/assets/images/my_health/dashboard-grid.PNG"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p>
                Add some more styling to the buttons within the grid so the user knows they are clickable. Its hard to
                tell right now. Is this something that can be changed? I noticed it was an IFrame coming from Intermountain.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
            <p>Like this</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="grid">
                <div class="grid-item">
                    <div class="grid-row">
                        <button class="btn btn-block btn-fill">Release of Information</button>
                    </div>
                    <div class="grid-row">
                        <button class="btn btn-block btn-fill">Advance Directive</button>
                    </div>
                </div>
                <div class="grid-item">
                    <button class="btn btn-block btn-fill">Find a Location</button>
                </div>
                <div class="grid-item">
                    <button class="btn btn-block btn-fill">Find a Doctor</button>
                </div>
            </div>
        </div>
    </div>

    <hr><hr>

    <h3>iframe responsiveness</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                I noticed some pretty significant issues with the iframes and their responsiveness. I am not entirely sure
                what exactly we have access to change but I did find a fix with two code snippets you can run in the console.
                So if we can find a way to apply these styles to the page, the responsiveness will mostly be fixed. However,
                I also noticed that there are some media queries firing off that don't match the bootstrap column widths.
                That will also have to be fixed. Looking through the html formatting my biggest suggestion would be to
                reformat the way it was done because there are a mass of what look like unnecessary or unused elements
                being used. If that is not an option, then at least the following fixes will fix a bulk of the problem.
                I wrote them in jquery statements because it is easy to put into your chrome dev console and see the fix
                work immediately.
            </p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
            <h4><strong>Main Frame</strong></h4>
            <hr>

            <h4>Problem</h4>
            <p>Bootstrap classes not being used/recognized.</p>
            <h4>Solution</h4>
            <p>Include the bootstrap css so the classes can be used</p>
            <hr>

            <h4>Problem</h4>
            <p>Main columns having issues resizing</p>
            <h4>Solution</h4>
            <p>Use bootstrap columns</p>
            <hr>

            <h4>Problem</h4>
            <p>Double Menu on xs Screens?</p>
            <h4>Solution</h4>
            <p>Remove it</p>
            <hr>

            <h4>Problem</h4>
            <p>.containter-fluid-large taking up too much space</p>
            <h4>Solution</h4>
            <p>set margins to '0 auto' to center</p>
            <hr>

            <h4>Problem</h4>
            <p>Float not being cleared somewhere in page so footer is coming up into content</p>
            <h4>Solution</h4>
            <p>Insert div with clearfix before footer</p>
            <hr>

            <img style="max-width: 600px; margin:0 auto; display:block;" src="/assets/images/my_health/top-fix.PNG"/>
            <textarea class="form-control" style="max-width: 600px; min-width: 600px; min-height: 195px;  margin:0 auto; display:block; margin-top: 25px;" ng-model="MyHealth.top_fix"></textarea>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
            <h4><strong>iFrameResizer0</strong></h4>
            <hr>

            <h4>Problem</h4>
            <p>Hardcoded Width and Height on angular-dashboard element</p>
            <h4>Solution</h4>
            <p>Replace all style with 'width: 100%' on angular-dashboard div</p>
            <hr>

            <img style="max-width: 600px; margin:0 auto; display:block;" src="/assets/images/my_health/iframe-fix.PNG"/>
            <textarea class="form-control" style="max-width: 600px; min-width: 600px; margin:0 auto; display:block; margin-top: 25px;" ng-model="MyHealth.iframe_fix"></textarea>

        </div>
    </div>
    <hr><hr>

</div>